//-------全局 CSS 样式-------
//uni-turnTurn-Shop-Templet  v1.0 | by 仔仔 806606688@qq.com 2020-02-20 20:20:20
//仅供学习交流，如作它用所承受的法律责任一概与作者无关 
page, .bg-page {
	background: #FAFAFA;
}
.cu-avatar {
	background-color: #FFFFFF;
}


.footer-fixed {
	position: fixed;
	z-index: 99;
	width: 100%;
	bottom: 0;
	left: 0;
}
